.op-swipe {
  position: relative;
  overflow: hidden;

  &__track {
    position: relative;
    display: flex;
  }

  &__indicators {
    position: absolute;
    bottom: var(--van-swipe-indicator-margin);
    left: 50%;
    display: flex;
    transform: translateX(-50%);
  }

  &__indicator {
    width: var(--van-swipe-indicator-size);
    height: var(--van-swipe-indicator-size);
    margin-right: var(--van-swipe-indicator-size);
    background-color: var(--van-swipe-indicator-inactive-background);
    border-radius: 100%;
    opacity: var(--van-swipe-indicator-inactive-opacity);
    transition:
      opacity var(--van-animation-duration-fast),
      background-color var(--van-animation-duration-fast);

    &--active {
      background-color: var(--van-swipe-indicator-active-background);
      opacity: var(--van-swipe-indicator-active-opacity);
    }
  }
}
